*{
    outline: 2px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: inline-flex;
}
li {
    padding: 5px;
    border-style:ridge;
    border-color: darkgray;
    border-radius: 10px;
    border-width: 5px;
}
.content.header{
    display: block;
}
body{
    background-color: black;
}
.heading1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: beige;
}
.content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    font-size: 20px;
    text-align: center;
}

.list{
    font-size: 15px;
    text-align: left;
    /* padding-left: 30%;
    padding-right: 25%; */
    margin-top: 10px;
}
.list-box.li{
    display: inline-block;
    margin: 20px;
}
.list-box{
    width: 200px;
}
.images{
    display: block;
  margin-left: auto;
  margin-right: auto;
}